*{
  margin: 10px;
  padding: 2px;
  font-size: large;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background:turquoise;
  width: 100%;
  }

.menu-icon{
  display: none;
  height: 30px;
  width: 30px;
  margin-left: -10px;
  cursor: pointer;
  position: relative;
  top: -100px;
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 5px;
  height: 5px;
  border: 0.1px solid #0fff;
  margin: 6px;
  cursor: pointer;
  border-radius: 100%;
}

input[name="r"]{
  position: absolute;
  visibility: hidden;
}
/* affects the home page images */
.slides{
  width: 500%;
  height: 60%;
  display: flex;
  overflow: hidden;
}

.slide{
  width: 20%;
  transition: 0.9s;
  overflow: hidden;
  position: absolute;
}

.slide img{
  width: 50%;
  height: 100%;
}
/*how images are spaced from one another*/
#r1:checked ~ .s1{
  margin-left: 5%;  
}
#r2:checked ~ .s1{
  margin-left: -15.5%;  
}
#r3:checked ~ .s1{
  margin-left: -36%;  
}
#r4:checked ~ .s1{
  margin-left: -56%;  
}
#r5:checked ~ .s1{
  margin-left: -76.5%;  
}

#navbar{
  width: 100%;

  }
  nav li {
      display:inline-block;
      padding-left: 0px;
      margin-left: 40px;
      font-size: large;
      font-weight: bolder;
      color:  #ffff;
      height: 20px;
     
  }
  nav ul{
      padding: 2px 0px 0px 30px;
      background-color: royalblue;
      height: 50px;
  }
  nav a:hover{
      color: #fff;
  }
  .font-style{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #333;
}
#bbg{
   background-color: rgb(155, 175, 175);
   height: auto;
   background-size: 1600px 1400px;
   background: rgba(255, 255, 255, 0.527);
   background-image: url();
}
button{
  color: brown;
}

img{
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

h1{
  font-size: 60px;
  text-align: center;
}

h2{
  font-size: 30px;
  text-align: center;
}
h4{
  font-size: larger;
}
p{
  height: auto;
  padding-left: 20px;
}
.company-logo{
  width: 30%;
  height: 10%;
  margin-top: -30px;
  padding-bottom: -10px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  border-bottom: 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@viewport{
  zoom: 1.0;
  width: extended-to-zoom;
}
@-ms-viewport{
  zoom: 1.0;
  width: extended-to-zoom;
}

@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  .slides s1{
    top: 150px;
  }
  .button button:hover{
    background: gray;
    cursor: pointer;
    transform: scale(1.1);
    }
  nav ul{
    width: 100%;
    background: royalblue;
    position: absolute;
    right: 0;
    z-index: 2;
    min-height: 50px;
       }
  nav ul li{
   position: relative;
   margin-top: 10px;
   margin-bottom: 10px;
   display: inline-block;
   margin: 1px;
  }
  #menu{
      overflow: hidden;
      transition: 1s;
      transform: translatey(10PX);
  }
  .menu-icon{
    display: block;
  }
}
section .card .image img{
	height: 100% ;
	width: 100% ;
	object-fit: cover ;
	border-radius: 50%;
	border: 3px solid  #ffff;
}
.swiper-slide .card-content .image img{
  height: 25%;
  width: 50%;
  top: 0px;
  transform: rotate();
}
.swiper-slide{
  top: -60px;
  position:absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  }

  .swiper-pagination{
    visibility: hidden;
  }
section .card .image{
  height: 100%;
  width: 100%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  overflow: hidden;
  border-radius: 10px;
  /*changes the height of the card*/
  height: 500px;
  margin: 10px;
  background-image: url();
  margin-top: auto;
  display: flexbox;
  align-self: normal;
  flex-wrap: wrap;
  flex-direction: column;
  
 
}
.container{
  position: absolute;
  width: 1400px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container:hover{
 
  transform: scale(1.0);
  

}
.card:hover{
  transform: scale(1.05);
  filter: blur(0px);
  box-shadow: 0px 0px 0px 1px rgba(0, 12, 11, 0.2);
  opacity: 1;
}
.container .card:hover{
  transform: scale(1.05);

}
button{
  background: linear-gradient(45deg, gray, black);
  color: #fff;
}

button:hover{
  transition: 0.1s;
  transform: scale(1.2);
  
}
.swiper-button-next, .swiper-button-prev{
  top: 500px;
  visibility: hidden;

}

nav .sticky{
  padding: 5px 100px;
  background: #fff;
  position: fixed;
  
}
.sticky{
  position: fixed;
  top: -10px;
  left: 0;
  padding: 0px ;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  background:  #ffff;
  overflow: hidden;
  z-index: 9999;
 }
.sticky .company-logo{
  width: 15%;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
}

.fa-fa-map-marker{
  margin-top: 100px;
}
.left-align{
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 50%;
}
.Testmoniespic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  rotate: 180;
 position: absolute;
 float: left;
 transform: rotatex(90deg);
}
.contactsec{
  width: 100%;
  height: 100%;
  background-color: blue;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}
.contactsec i{
  color: rgb(158, 87, 87);
  padding: 15px;
 }
 .contactsec a{
   color: #fff;
   text-decoration: none;
 }
 .rows:after {
  content: "";
  display: table;
  clear: both;
 }
 .rows .columns{
    float: left;
    padding: 10px;
    height: 300px;
 }
 .column-left{
width: 50%;
 }
 .column-right{
width: 50%;
 }
#containers {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background:  #ffff;
  display: grid ;
  place-items: center
}

#slider-container {
  height: 600px;
  width: 10000px;
  max-width: 1350px;
  background:  #ffff;
  box-shadow: 5px 5px 8px  #ffff;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#slider-container .btn {
  position: absolute;
  top: calc(50% - 30px);
  height: 30px;
  width: 30px;
  border-left: 8px solid #00f;
  border-top: 8px solid #00f;
}

#slider-container .btn:hover {
  transform: scale(1.5);
}

#slider-container .btn.inactive {
  border-color: rgb(153, 121, 126)
}

#slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px
}

#slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#slider-container #slider {
  display: flex;
  width: 1000%;
  height: 100%; 
  transition: all .5s;
  overflow: hidden;
}

#slider-container #slider .sliders {
  height: 90%;
  margin: auto 10px;
  background-color: #fff;
  box-shadow: 2px 2px 4px 2px  #ffff, -2px -2px 4px 2px  #ffff;
  display: grid;
  place-items: center;
}

#slider-container #slider .slide span {
  color:  #ffff;
  font-size: 150px;
}

@media only screen and (min-width: 1100px) {

  #slider-container #slider .sliders {
    width: calc(2.5% - 20px);
  }

}

@media only screen and (max-width: 1100px) {

  #slider-container #slider .sliders {
    width: calc(3.3333333% - 20px);
  }

}

@media only screen and (max-width: 900px) {

  #slider-container #slider .sliders {
    width: calc(5% - 20px);
  }

}

@media only screen and (max-width: 550px) {

  #slider-container #slider .sliders {
    width: calc(10% - 20px);
  }

}