@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

* {
  margin: 10px;
  padding: 2px;
  font-size: large;
  box-sizing: border-box;
  user-select: none;
  font-family: "Poppins", sans-serif;
}
html {
  font-family: "Barlow Semi Condensed", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div333 {
  display: none;
}

.div2-2 {
  display: none;
}

.sidenav {
  height: 300px !important;

  position: absolute;
  z-index: 99;
  padding: 0px;
  top: 350px;
  left: 0;
  margin-left: -5px;
  background-color: rgb(255, 136, 0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff !important;
  display: flexbox;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: underline;
}

.sidenav .closebtn {
  position: absolute;
  top: -20px;
  right: 2px;
  font-size: 36px;
  margin-left: 50px;
}

#menusbtn {
  position: absolute;
  right: 30px;
}

a {
  padding: 1px;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
  width: 100%;
  transition: (padding-top 0.5s ease);
}

.font-style {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #333;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}
h4 {
  font-size: larger;
}
p {
  height: auto;
  padding-left: 20px;
}
.company-logo {
  width: 12%;
  height: 3%;
  margin-top: -15px;
  padding-bottom: -10px;
  transition: all 0.4s ease;
}

.container1 .row1 a,
.container2 .row2 a,
.container3 .row3 a {
  background-color: rgb(0, 2, 128);
  font-size: 1rem !important;
}

.column {
  max-width: min-content;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  border-bottom: 10px;
}
#featured-services {
  flex-direction: column;
}

.featured-services .container1 .row1 .column .card {
  opacity: 1;
  margin: 0;
}

.container1 .row1 a:hover,
.container2 .row2 a:hover,
.container3 .row3 a:hover {
  background-color: #00f;
  color: #fff;
  text-decoration: wavy;
}

.container1 .row1 a,
.container2 .row2 a,
.container3 .row3 a {
  font-size: 2rem;
  text-decoration: none;
}

.row1,
.row2,
.row3 {
  display: flex;
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column img {
  width: 280px;
}
section .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-attachment: cover;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #ffff;
}
.swiper-slide .card-content .image img {
  height: 30%;
  width: 95%;
  top: 0px;
  transform: rotate();
}
.swiper-slide {
  top: -60px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.swiper-pagination {
  visibility: hidden;
}
section .card .image {
  height: 100%;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: left;
  background-color: #f1f1f1;
  overflow: hidden;
  border-radius: 10px;
  /*changes the height of the card*/
  min-height: 530px;
  min-width: 300px;

  background-size: cover;
  margin-top: auto;
  align-self: normal;
  flex-wrap: nowrap;
  flex-direction: column;
}

.container {
  position: absolute;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.containers {
  background-color: #fff;
}

.containers .column {
  background-color: #fff;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-rows: repeat(2, 15rem);
  grid-template-columns: repeat(4, 24rem);
}

.card:hover {
  transform: scale(1.005);
  filter: blur(0px);
  box-shadow: 0px 0px 0px 1px rgba(0, 12, 11, 0.2);
  opacity: 1;
}
.container .card:hover {
  transform: scale(1.05);
}
button {
  background: linear-gradient(45deg, gray, black);
  color: #fff;
}

button:hover {
  transition: 0.1s;
  transform: scale(1.2);
}
.swiper-button-next,
.swiper-button-prev {
  top: 500px;
  visibility: hidden;
}

.sticky #navbar {
  padding: 3px 90px;
  background: #fff;
  position: fixed;
  transition: all 4s ease;
  width: 90%;
}
nav .sticky a {
  background-color: #00f;
}
.sticky {
  background-color: #00f;
  position: fixed;
  width: 98.5% !important;
  transition: all 0ms ease !important;
  top: -10px;
  opacity: 1;
  overflow: hidden;

  z-index: 9999;
}
.sticky + .content {
  padding-top: 600px;
}
.sticky .company-logo {
  width: 10%;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  transition: all 0.4s ease;
  display: none;
  transition: all 4s ease;
}

.sticky .div4 {
  transition: all 4s ease;
  display: none;
}
.sticky #navbar {
  background-color: blue;
  width: 99.9%;
  transition: all 4s ease;
  scroll-behavior: smooth;
}
.fa-fa-map-marker {
  margin-top: 100px;
}
.left-align {
  width: 5%;
  height: 5%;
  background-color: red;
  position: relative;
  float: left;
  border-radius: 50%;
}

.Testmoniespic {
  size: 10%;
  border-radius: 50%;
  rotate: 180;
  position: absolute;
  float: left;
  transform: rotatex(90deg);
}
.column .card img {
  width: 90% !important;
}
h3 {
  text-align: center;
}
.partnercontainer {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: fit-content;
}

.contactsec {
  width: 99.5%;
  height: 100%;
  background-color: blue;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  border-radius: 15px;
  margin-left: 3px;
}
.contactsec i {
  color: #fff;
  padding: 15px;
}
.contactsec a {
  color: #fff !important;
  text-decoration: underline;
}
.rows:after {
  content: "";
  display: table;
  clear: both;
}
.rows .columns {
  float: left;
  padding: 10px;
  height: 300px;
}
.column-left {
  width: 50%;
}
.column-right {
  width: 50%;
}
.sides {
  width: 100%;
}
.columns1 {
  float: left;
  width: 50%;
  padding: 5px;
}

.parent {
  height: fit-content;
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.parent .div1 {
  height: 300px;
}
.holder {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: auto;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  line-height: 2rem;
  grid-area: 1 / 2 / 2 / 3;
  z-index: 999;
}
.div3 {
  grid-area: 1 / 1 / 4 / 4;
  height: fit-content;
}
.div4 {
  grid-area: 2 / 4 / 4 / 3;
  width: 100%;
  float: right;
  margin-right: 0;
  text-align: right;
}

.div4 .fas {
  text-align: right;
}

.div a {
  text-align: right;
}

.div4 a:hover {
  color: blue;
}
.div3 .company-logo {
  height: 100px;
  width: 200px;
}
.noHover {
  pointer-events: none;
}

#containers #slider-container #slider .sliders {
  box-shadow: #00f;
}

a:link,
a:active,
a:visited,
a:hover {
  color: #3f51b5;
}

.quoted {
  width: 99.9%;
  margin: 0;
}

.outerdiv {
  width: auto;
  min-height: fit-content;
  background: #1c0069;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-left: 0px;
}
.innerdiv {
  transform: scale(0.9);
  margin: 1rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: repeat(1, 22rem);
  grid-template-columns: repeat(1, 17rem);
}
.eachdiv {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 20px #1f03036b;
  color: red;
}
.div11 {
  background: #733fc8;
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 25rem;
}

.div11 img,
.div22 img,
.div33 img,
.div44 img,
.div55 img {
  height: auto;
  width: auto;
}

.div11 .review p,
.div22 .review p,
.div33 .review p,
.div44 .review p,
.div55 .review p {
  font-weight: 100;
  margin: 0 -50px 0 -50px;
  padding: -50px;
}

.div11 .detbox,
.div22 .detbox,
.div33 .detbox,
.div44 .detbox,
.div55 .detbox {
  margin-left: -40px;
}
.div11 h4 {
  font-size: 0.5rem;
}
.div22 {
  background: #49556b;
  grid-column: 3/4;
  grid-row: 1/2;
}
.div33 {
  background: white;
  grid-column: 4/5;
  grid-row: 1/3;
  color: black;
}
.div44 {
  background: white;
  grid-column: 1/3;
  grid-row: 2/3;
  color: black;
}
.div55 {
  background: #18202d;
  grid-column: 3/4;
  grid-row: 2/3;
}
.userdetails {
  display: flex;
}
.imgbox {
  margin-right: 1rem;
}
.imgbox img {
  border-radius: 50%;
  width: 2rem;
  border: 2px solid #cec5c5;
}
.detbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detbox p {
  margin: 0;
}
.detbox .name {
  color: hsl(0, 0%, 81%);
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.detbox .name.dark {
  color: #49505a;
}
.detbox .designation {
  color: hsl(0, 0%, 81%);
  opacity: 50%;
  font-size: 0.8rem;
}
.detbox .designation.dark {
  color: #49505a;
}
.review p {
  font-size: 1.4rem;
  color: #8c0ed4;
  font-weight: 600;

  margin-bottom: 0.8rem;
}
.review .dark p {
  color: #9c1796;
}
.review p {
  font-size: 0.95rem;
  color: #f3deff;
  font-weight: 500;
  opacity: 50%;
  line-height: 1.5;
}
.review.dark p {
  color: #0e0e0e;
}
.attribution {
  font-size: 1rem;
  line-height: 1.5;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
}
.attribution a {
  text-decoration: none;
}

header .btn {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.slideshow-container img {
  position: absolute;
  left: 32em;
  width: auto;
  height: 500px;
}

/* Slideshow container */
.slideshow-container {
  align-items: center;
  width: 98.5%;
  height: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(12, 14, 150);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 30rem;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 29rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(31, 8, 241, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  text-decoration: underline;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #00f;
  margin-top: 0;
  border-radius: 5px;
  width: 100%;
  margin-left: -10px;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  text-decoration: underline;
  color: #fff;
}

#navbar a.actives {
  color: white;
}

.content {
  padding: 16px;
}

.mapouter {
  max-height: 450px;
}

.brainstormed {
  width: 400px;
  height: 300px;
}

.div5 {
  margin-left: 20rem;
  position: relative;
  width: 100%;
  text-align: center;
}

.texts span {
  left: 0;
  align-items: center;
  text-align: center;
  display: inline-block;
  color: rgb(15, 1, 1);
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 48px;
  animation: bounce 1.5s ease-in-out infinite;
  animation-delay: var(--delay);
}

.texts span:not(last-child) {
  margin: -2px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.div5 img {
  height: 70%;
}

.div5 p {
  position: absolute;
  margin-top: -15px;
  color: #00f;
  font-weight: bolder;
  text-decoration: wavy;
}

.advert {
  width: 100%;
  height: 100%;
}
#mySidenav,
#menusbtn {
  display: none;
}

@media (max-width: 1024px) {
  #navbar {
    margin: 10px 5px 0 5px;
    right: 5px;
  }

  #navbar a {
    padding: 0;
  }
  .swiper {
    background-color: green;
    width: 60%;
  }
  .div2 h2 {
    background-color: red;
    font-size: 1rem;
    width: auto;
  }
  .partnercontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(2, 1fr);
    height: fit-content;
  }

  .partnercontainer .card {
    padding: 0;
    margin: 0 -6px;
    max-height: fit-content;
  }
  .partnercontainer .card p {
    font-size: 0.8rem;
  }
  .partnercontainer h3,
  a,
  li {
    font-size: 0.8rem;
  }
  .partnercontainer img {
    width: auto;
    height: auto;
  }
  .slideshow-container img {
    position: absolute;
    left: 8em;
    width: auto;
    height: 500px;
  }

  h2 {
    font-size: 1.1rem;
  }

  /* Slideshow container */
  .slideshow-container {
    align-items: center;
    width: 98.5%;
    height: 500px;
    position: relative;
    margin: auto;
  }
  .next {
    right: 6rem;
  }

  .prev {
    left: 6rem;
  }

  .brainstormed {
    position: relative;
    margin-left: 17rem;
  }
  .container3 .row3, .container2 .row2, .container1 .row1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(2, 1fr);
    height: fit-content;
  
  }
  .row1 .column {
    margin: 0 -10px 1px;
  }

  .row2 .column,.row3 .column{
    margin: 0 -10px 1px;
  }

  .row3 .column{
    margin: 0 -10px 1px;
  }
  .row1 .column p,.row2 .column p,.row3 .column p{
    font-size: .9rem;
  }
}
@media (max-width: 800px) {

#navbar{
  width: 100%;
}

#navbar a{
  font-size: .7rem;
  
}

h1{
  font-size: 2rem;
}
  .contactsec a{
    padding: -5px;
    font-size: .7rem;
  }
  .contactsec i{
    padding: -2px;
    font-size: .8rem;
  }

  .partnercontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 1fr);
    height: fit-content;
  }
  .partnercontainer .column{
    margin: 0 -2px;
      }
  .slideshow-container img {
    position: absolute;
    left: 2.7em;
    width: auto;
    height: 450px;
  }

  h2 {
    font-size: 1.1rem;
  }

  /* Slideshow container */
  .slideshow-container {
   
    align-items: center;
    width: 97.5%;
    height: 500px;
    position: relative;
    margin: auto;
  }
  .next {
    right: 0rem;
  }

  .prev {
    left: 0rem;
  }

  .brainstormed {
    position: relative;
    margin-left: 11rem;
  }
  .container3 .row3, .container2 .row2, .container1 .row1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 1fr);
    height: fit-content;
  
  }
  .row1 .column {
    margin: 0 -10px 5px;
  }

  .row2 .column,.row3 .column{
    margin: 0 -10px 5px;
  }

  .row3 .column{
    margin: 0 -10px 5px;
  }
  .row1 .column p,.row2 .column p,.row3 .column p{
    font-size: .9rem;
  }

  .containers .column{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(1, 1fr);
    height: fit-content;
  }
}

@media (max-width: 500px) {
  .company-logo{
    width: 25%;
    }
  #navbar{
   
    margin-left: -10px;
    right: -100px;
  }
  #navbar a{
    font-size: .35rem;
      }
  .partnercontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(1, 0.5fr);
    grid-template-rows: repeat(2, 1fr);
    }
  h1{
    font-size: 2rem;
  }
  p{
    font-size: .9rem;
  }
}