@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


* {
  margin: 10px;
  padding: 2px;
  font-size: large;
  box-sizing: border-box;
}
html{
  font-family: 'Barlow Semi Condensed', sans-serif;
}


body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
#menu{
  background-color: #00f;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 2px;
}

#menu a{
  padding: 0px;
  margin: auto;
  color: #fff;
  text-decoration: none;
}

#menu a:hover{
  text-decoration: underline;
  transform: scale(0.1);
  color: #8c0ed4;
}

a{
  padding: 1px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  }
body {
  margin: 0;
  padding: 0;
  background: turquoise;
  width: 100%;
  transition: (padding-top 0.5s ease);
}

.menu-icon {
  display: none;
  height: 30px;
  width: 30px;
  margin-left: -10px;
  cursor: pointer;
  position: relative;
  top: -100px;
}
.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar {
  width: 5px;
  height: 5px;
  border: 0.1px solid #0fff;
  margin: 6px;
  cursor: pointer;
  border-radius: 100%;
}


#navbar {
  width: 100%;
}
nav li {
  display: inline-block;
  padding-left: 0px;
  margin-left: 40px;
  font-size: large;
  font-weight: bolder;
  color: #ffff;
  height: 20px;
}
nav ul {
  padding: 2px 0px 0px 20px;
  
  height: 50px;
}
nav a:hover {
  color: #fff;
}
.font-style {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #333;
}
#bbg {
  background-color: rgb(155, 175, 175);
  height: auto;
  background-size: 1600px 1400px;
  background: rgba(255, 255, 255, 0.527);
  background-image: url();
}
button {
  color: brown;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}
h4 {
  font-size: larger;
}
p {
  height: auto;
  padding-left: 20px;
}
.company-logo {
  width: 12%;
  height: 3%;
  margin-top: -30px;
  padding-bottom: -10px;
  transition: all 0.4s ease;
}

.column {
  float: left;
  width: 20%;
  padding: 0 10px;
  border-bottom: 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column img {
  width: 280px;
}
section .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-attachment: cover;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid #ffff;
}
.swiper-slide .card-content .image img {
  height: 30%;
  width: 95%;
  top: 0px;
  transform: rotate();
}
.swiper-slide {
  top: -60px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.swiper-pagination {
  visibility: hidden;
}
section .card .image {
  height: 100%;
  width: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: left;
  background-color: #f1f1f1;
  overflow: hidden;
  border-radius: 10px;
  /*changes the height of the card*/
  min-height: 530px;
  min-width: 300px;
  margin: 2px;
  background-image: url();
  background-size: cover;
  margin-top: auto;
  align-self: normal;
  flex-wrap: nowrap;
  flex-direction: column;
}
.container {
  position: absolute;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
  filter: blur(0px);
  box-shadow: 0px 0px 0px 1px rgba(0, 12, 11, 0.2);
  opacity: 1;
}
.container .card:hover {
  transform: scale(1.05);
}
button {
  background: linear-gradient(45deg, gray, black);
  color: #fff;
}

button:hover {
  transition: 0.1s;
  transform: scale(1.2);
}
.swiper-button-next,
.swiper-button-prev {
  top: 500px;
  visibility: hidden;
}

nav .sticky {
  padding: 3px 90px;
  background: #fff;
  position: fixed;
  transition: all 4s ease;
  width: 90%;
}
nav .sticky a {
  background-color: #00f;
}
.sticky {
  position: fixed;
  transition: ease;
  top: -10px;
  left: 0;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  background: #ffff;
  overflow: hidden;
  z-index: 9999;
}
.sticky .company-logo {
  width: 10%;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  transition: all 0.4s ease;
  display: none;
  transition: all 4s ease;
}

.sticky .div4{
  transition: all 4s ease;
  display: none;
}
.sticky #menu{
  background-color: blue;
  width: 97.9%;
  transition: all 4s ease;
  scroll-behavior: smooth;
}
.fa-fa-map-marker {
  margin-top: 100px;
}
.left-align {
  display: block;
  margin-left: 0;
  margin-right: auto;
  width: 50%;
}
.Testmoniespic {
  size: 10%;
  border-radius: 50%;
  rotate: 180;
  position: absolute;
  float: left;
  transform: rotatex(90deg);
}
.column .card img {
  width: 90% !important;
 
}
h3 {
  text-align: center;
}
.contactsec {
  width: 99.5%;
  height: 100%;
  background-color: blue;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  border-radius: 15px;
  margin-left: 3px;
}
.contactsec i {
  color: #fff;
  padding: 15px;
}
.contactsec a {
  color: #fff !important;
  text-decoration: none;
}
.rows:after {
  content: "";
  display: table;
  clear: both;
}
.rows .columns {
  float: left;
  padding: 10px;
  height: 300px;
}
.column-left {
  width: 50%;
}
.column-right {
  width: 50%;
}
.sides {
  width: 100%;
}
.columns1 {
  float: left;
  width: 50%;
  padding: 5px;
}

.parent {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.holder {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 1 / 4 / 4;
  height: fit-content;
}
.div4 {
  grid-area: 2 / 4 / 4 / 3;
  width: 100%;
  float:right;
  margin-right: 0;
  text-align: right;

}

.div4 .fas{
  text-align: right;

}

.div a{
  text-align: right;
}

.div4 a:hover{
  color: blue;
}
.div3 .company-logo {
  height: 100px;
  width: 200px;
}
.noHover {
  pointer-events: none;
}

#containers #slider-container #slider .sliders {
  box-shadow: #00f;
}


a:link,a:active,a:visited,a:hover{
	color:#3f51b5;
}

.outerdiv
{
	width: 99.5%;
    min-height: 100vh;
    background: #4400ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-left: 3px;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: red;
}
.div11
{
	background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 25rem;
}

.div11 img ,.div22 img,.div33 img,.div44 img,.div55 img{
  height: auto;
  width: auto;
}

.div11 .review p ,.div22 .review p,.div33 .review p,.div44 .review p,.div55 .review p{
  font-weight: 100;
 margin: 0 -50px 0 -50px;
 padding: -50px;
}

.div11 .detbox ,.div22 .detbox, .div33 .detbox, .div44 .detbox, .div55 .detbox{
  margin-left: -40px;
}
.div11 h4{
  font-size: .5rem;
}
.div22
{
	background:#49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div33
{
	background: white;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div44
{
	background: white;
	grid-column: 1/3;
    grid-row: 2/3;
    color: black;
    
}
.div55
{
	background: #18202D;
	grid-column: 3/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review p
{
	font-size: 1.4rem;
	color: #8c0ed4;
    font-weight: 600;
    
    margin-bottom: 0.8rem;
}
.review .dark p{
	color:#9c1796;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

header .btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  .slides s1 {
    top: 150px;
  }
  .button button:hover {
    background: gray;
    cursor: pointer;
    transform: scale(1.1);
  }
  nav ul {
    width: 100%;
    background: royalblue;
    position: absolute;
    right: 0;
    z-index: 2;
    min-height: 50px;
    transition: all 0.4s ease;
  }
  nav ul li {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    margin: 1px;
  }
  nav ul li a {
    text-decoration: none;
  }
  #menu {
    overflow: hidden;
    transition: 1s;
    transform: translatey(10px);
  }
  .menu-icon {
    display: block;
  }
}



@media only screen and (max-width: 1000px)
{
  .parent{
    width: 40%;
  }

  .div4{
    width: 40%;
  }
  .holder{
    width: 80%;
    background-color: #00f;
    margin-left: 3px;
  }

  .holder .div4{
    color: #fff;
  }

  .div4 a{
    color: #fff;
  }
  .company-logo{
    width: 30%;
    margin-top: 30px
  }
  .div2 {
    grid-area: 3 / 4;
  }
  header .btn{
    display: block;
    color: red;
     }
  header #menu{
    position: fixed;
    background: #1483d5;
    flex-direction: column;
    min-width: 200px;
    max-height: fit-content;
    height: 100vh;
    top: 0;
    right: 100%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
    }
header #menu .close-btn{
  position: absolute;
  top: 0;
  left: 0;
  margin: 25px;
}
header #menu a{
  display: block;
  font-size: 20px;
  margin-inline: 20px;
  padding: 5px 15px;
  background: #1483df;
  top: 0;
  margin-top: 0;
}
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 768px)
{
  	.innerdiv
	{
		transform: scale(0.6);
	}

  .holder{
    width: 100%;
    background-color: #00f;
    margin-left: 3px;
  }

  .holder .div4{
    text-align: right;
  }
}
@media only screen and (max-width: 600px)
{
	.div11 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}

.container1{
  background-color: red;
  display: flex;
  flex-direction: row;
}
.row1{
  background-color: #00f;
  width: fit-content;
  }

.row2{
  background-color: green;
}