/* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #bfce3ab6, rgba(67, 190, 194, 0.333));
    background-attachment: fixed;
    }
    .container{
        position: relative;
        width: 1150px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .container .card{
        display: flex;
        position: relative;
        width: 300px;
        height: 420px;
        background: #fff;
        margin: 10px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 15px 25px rgba(0,0,0,0.2);
        transition: 0.10s;
    }
    .container:hover .card{
        filter: blur(1px) ;
        transform: scale(0.9);
        opacity: 0.5;
    }
    .container .card:hover{
        filter: blur(0px) ;
        transform: scale(1.1);
        opacity: 1;
    }
   .container .card .circle{
     position: relative;
     width: 100%;
     height: 100%;
     background: #fff;   
     clip-path: circle(200px at center 0);
     text-align: center;
    }
     .container .card .circle h2{
         color: #000;
         font-size: 1.5em;
         padding: 30px 0;
         margin-bottom: 0;
     }
     .container .card .content{
         position: absolute;
         top: 60px;
         bottom: 0px;
         padding: 20px;
         text-align: center;
     }
     .container .card .content p{
         color: rgb(87, 7, 7);

     }
     .container .card .content a{
         position: relative;
         display: inline-block;
         padding: 10px 20px;
         background: #000;
         color: #fff;
         border-radius: 40px;
         text-decoration: none;
         margin-top: 20px;
     }
     .container .card:nth-last-child(Immunization) .circle,
     .container .card:nth-last-child(Immunization) .content a{
         background: #ffaf00;
     }
     .container .card:nth-last-child(Family Planning) .circle,
     .container .card:nth-last-child(Family Planning) .content a{
         background: #ffaf00;
     }
     .container .card:nth-last-child(Maternity) .circle,
     .container .card:nth-last-child(Maternity) .content a{
         background: #ffaf00;
     }
     .container .card:nth-last-child(Outpatient) .circle,
     .container .card:nth-last-child(Outpatient) .content a{
         background: #ffaf00;
     }
     .container .card:nth-last-child(Laboratory Services) .circle,
     .container .card:nth-last-child(Laboratory Services) .content a{
         background: #ffaf00;
     }
     .container .card:nth-last-child(Ultra-Sound) .circle,
     .container .card:nth-last-child(Ultra-Sound) .content a{
         background: #ffaf00;
     }
     .container .card:nth-last-child(Dental) .circle,
     .container .card:nth-last-child(Dental) .content a{
         background: #ffaf00;
     }*/

     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f2f2ff;
}
.swiper{
	width: 1000px;
}
.section{
	position: relative;
	height: 450px;
	width: 1075px;
	display: flex;
	align-items: center;
	background: chocolate;
}

section .card .image{
	height: 140px;
	width: 140px;
	border-radius: 50%;
	padding: 3px;
	background: purple;
}

section .card .image img{
	height: 100% ;
	width: 100% ;
	object-fit: cover ;
	border-radius: 50%;
	border: 3px solid white;
}
.card{
	background: white;
	border-radius: 20px;
	position: relative;
	margin: 20px 0;
	height: 100px;
}

.card .card-content{
	padding: 30px;
	align-items: center;
	flex-direction: column;
	display: flex;
	position: relative;
	z-index: 100;
}
.card::before{
	content: "";
	position: absolute;
	height: 45%;
	width: 100%;
	background: purple;
	border-radius: 20px 20px 0 0;

}

.card .media-icons{
	position: absolute;
	top: 10px;
	right: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card .media-icons i{
color: white;
opacity: 0.6;
margin-top: 10px;
transition: all 0.3s ease;
cursor: pointer;
}

.card .media-icons i:hover{
	opacity: 2;
	transform: scale(1.1);
}

.card .name-proffession{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.name-proffession .name{
	font-size: 20px;
	font-weight: 600;
}
.name-proffession .proffession{
	font-size: 15px;
	font-weight: 500;
}
.card .rating{
	display: flex;
	margin-top: 18px;
	}
.card .rating i{
	font-size: 18px;
	margin: 0 2px;
	color: purple;
}

.card .button{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.card .button button{
	background: purple;
	outline: none;
	border: none;
	color:white;
	padding: 8px 22px;
	border-radius: 20px;
	font-size: 14px;
	transition: all 0.3s ease;
}
.button button:hover{
background: gray;
cursor: pointer;
transform: scale(1.1);
}
.swiper-pagination-bullet{
	height: 7px;
	width: 26px;
	border-radius: 25px;
	background: cornflowerblue;
}